.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

external/*
!external/README.md

backup_before*/
*.zip
*.sh

build/
dist/
*.egg-info/

report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz
report/*.fls
report/*.fdb_latexmk
